@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section4-1 {
  width: 100%;
  margin: 60px 0;
}

.section4-1 .swiper-slide {
  background-color: #eee;
  height: 100%;
}

.section4-1 .swiper-pagination {
    display: none;
}

.section4-1 .swiper-button-next {
    display: none;
}
.section4-1 .swiper-button-prev {
    display: none;
}

.section4-1 .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}